%h2 Choose Group to Share With
%p
  Choose the group you would like to share with.
%p
  You will be taken to a new page where you can select what type of media you would like to share with this group.
%p
  Please note that, if you would like to share with a certain group, you must first join that group.