%h2 Join a Group
%p
  To the right are all the groups that you can join. Joining a group, you will be notified of all the activities in that group.
%p
  To join, simply click the 
  %strong &#8220;Join&#8221;.